
.jumbotron {
	background-color: #F5C884;
}

h1{
  font-family: 'Merriweather Sans';
  text-align: left;
  font-size:40px;
  line-height: 200px;
}


.cover {
    border: 5px solid;
    border-radius: 10px;
    color: black;
}

.row {
    margin: auto;
}

.info {
    margin: 50px;
    font-size: 25px;
}
	
}
#isbn{
	  text-align: center;
 	 font-size:30px;

}
footer {
	text-align: center;
	font-family: 'Merriweather Sans';
	font-size:25px;
	background-color: #F5C884;
}